<table class="table table-honer table-inverse">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @maintenance_comments.each do |comment| %>
      <tr class="<%= 'text-muted' if comment.deleted? %>">
              <td><%= comment.user&.name || "退会ユーザー" %></td>
              <td><%= comment.comment %></td>
              <td>
                <% if comment.deleted? %>
                  <%= link_to "復元", restore_admin_maintenance_comment_path(comment), method: :patch, class: "btn btn-success" %>
                <% else %>
                  <%= link_to "削除", admin_maintenance_comment_path(comment),method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
    <% end %>
  </tbody>
</table>