    <div class="col-md-8 offset-md-2">
      <table class="table table-honer table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>manufacturer</th>
            <th>name</th>
            <th>model</th>
            <th>odometer</th>
            <th>purpose</th>
          </tr>
        </thead>
        <tbody>
            <% cars.each do |car| %>
              <tr>
                <td class="w-25">
                  <%= image_tag car.car_image, class:"img-fluid", alt:"Car Image" %>
                </td>
                <td><%= car.manufacturer_name %></td>
                <td><%= car.car_name %></td>
                <td><%= car.car_model %></td>
                <td><%= car.odometer %></td>
                <td><%= car.purpose %></td>
                <td><%= link_to '詳細', car_path(car), class: 'btn btn-info' %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>