<p id="notice"><%= notice %></p>

<div id="error_message" style="color: red;"></div>


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>New Maintenance</h1>
      <%= form_for(@maintenance) do |form| %>
        <div class="form-group">
          <%= form.label :タイトル %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :作業日 %>
          <%= form.date_field :maintenance_day, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :作業内容 %>
          <%= form.select :maintenance, ['日常点検', '法定点検', 'チューニング', '洗車', 'メンテナンス'], {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :作業難易度 %>
          <%= form.select :work_difficulty, ['簡単', '普通', '難しい'], {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :tool_images, '使用工具画像' %>
          <%= form.file_field :tool_images, multiple: true, accept: "image/*", class: "form-control-file" %>
        </div>
        <div class="form-group">
          <%= form.label :作業時間 %>
          <%= form.text_field :work_time, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :作業料金 %>
          <%= form.text_field :work_pay, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.fields_for :images do |image_fields| %>
            <div class="image-fields">
              <%= image_fields.file_field :image, multiple: true, class: "form-control-file" %>
              <%= image_fields.text_area :description, class: "form-control", placeholder: "画像の説明" %>
            </div>
          <% end %>
          <div class="add_field_button btn btn-primary">作業画像・説明を追加</div>
        </div>
        <div class="form-group">
          <%= form.label :関連URL %>
          <%= form.text_field :related_information, class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-primary">作成</button>
      <% end %>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('form');
    var inputFieldsWrap = document.querySelector('.image-fields');

    var addButton = document.querySelector('.add_field_button');
    var x = 1;

    addButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (x < 10) {
        x++;
        var newField = document.createElement('div');
        newField.innerHTML = `
          <div class="image-fields">
              <input type="file" name="maintenance[images_attributes][${x}][image]" multiple class="form-control-file">
              <textarea name="maintenance[images_attributes][${x}][description]" class="form-control" placeholder="画像の説明"></textarea>
          </div>`;
        inputFieldsWrap.appendChild(newField);
      }
    });
  });
</script>