<div class="container">
  <h1><%= @maintenance.title %></h1>
  <div class="row">
    <div class="col-md-6">
      <p><strong>作業日:</strong> <%= @maintenance.maintenance_day %></p>
      <p><strong>作業内容:</strong> <%= @maintenance.maintenance %></p>
      <p><strong>作業難易度:</strong> <%= @maintenance.work_difficulty %></p>
      <p><strong>作業時間:</strong> <%= @maintenance.work_time %></p>
      <p><strong>作業料金:</strong> <%= @maintenance.work_pay %></p>
      <p><strong>関連URL:</strong> <%= @maintenance.related_information %></p>
    </div>
    <div class="col-md-6">
      <h3>使用工具画像:</h3>
      <% if @maintenance.tool_images.present? %>
        <% @maintenance.tool_images.each do |image| %>
          <%= image_tag image.url, class: "img-fluid" %>
        <% end %>
      <% else %>
        <p>使用工具画像はありません。</p>
      <% end %>
    </div>
    <div>
      <h3>作業画像と説明:</h3>
      <% @maintenance.images.each do |image| %>
        <%= image_tag image.image.url, class: "img-fluid" %>
        <p><strong>説明:</strong> <%= image.description %></p>
      <% end %>
    </div>
  </div>
</div>