<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>All Group List</h1>
      <%= link_to "削除済みグループ一覧", deleted_index_admin_groups_path, class: "btn btn-secondary" %>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Group Image</th>
            <th>Group Name</th>
            <th>Introduction</th>
            <th>Theme</th>
            <th>Rules</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr class="<%= 'table-danger' if group.deleted? %>">
              <td><%= image_tag url_for(group.group_image.first), size: '300x300' %></td>
              <td><%= group.group_name %></td>
              <td><%= group.group_introduction %></td>
              <td><%= group.group_theme %></td>
              <td><%= group.group_rules %></td>
              <td><%= link_to '編集', edit_admin_group_path(group), class: "group_#{group.id} btn btn-primary" %></td>
              <td>
                <% if group.deleted? %>
                  <%= link_to "復元", restore_admin_group_path(group), method: :patch, class: "btn btn-success" %>
                <% else %>
                  <%= link_to "削除", admin_group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>