    <div class="col-md-8 offset-md-2">
      <table class="table table-honer table-inverse">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>作業日</th>
            <th>作業内容</th>
            <th>作業難易度</th>
          </tr>
        </thead>
        <tbody>
          <% maintenances.each do |maintenance| %>
              <tr>
                <td><%= maintenance.car.car_name %></td>
                <td><%= maintenance.title %></td>
                <td><%= maintenance.maintenance_day %></td>
                <td><%= maintenance.maintenance %></td>
                <td><%= maintenance.work_difficulty %></td>
                <td><%= render "public/favorites/btn", maintenance: maintenance %></td>
                <td><%= link_to '詳細', maintenance_path(maintenance), class: 'btn btn-info' %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>