<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Editing Maintenance</h1>

      <%= form_for(@maintenance) do |f| %>

        <div class="form-group">
          <%= f.label :car_id, "車両を選択" %>
          <%= f.collection_select :car_id, current_user.cars, :id, :car_model, {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :maintenance_day, "作業日" %>
          <%= f.date_field :maintenance_day, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :maintenance, "作業内容" %>
          <%= f.select :maintenance, ['日常点検','法定点検','チューニング','洗車','メンテナンス'], {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :work_difficulty, "作業難易度" %>
          <%= f.select :work_difficulty, ['簡単','普通','難しい'], {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :tool_images, "使用工具画像" %>
          <%= f.file_field :tool_images, class: "form-control-file", accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :work_time, "作業時間" %>
          <%= f.text_field :work_time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :work_pay, "作業料金" %>
          <%= f.text_field :work_pay, class: "form-control" %>
        </div>

        <p>作業画像・作業説明</p>

        <% @maintenance.images.each_with_index do |image, i| %>
          <div class="mb-3">
            <p>作業画像</p>
            <%= image_tag image, class: "img-thumbnail", style: "width:25%;" %>
            <% desc = @maintenance.work_descriptions[i] %>
            <p>作業説明</p>
            <%= desc&.description || "なし" %>
          </div>
        <% end %>

        <div class="form-group">
          <label>作業画像</label>
          <input type="file" name="maintenance[images][]" class="form-control-file" accept="image/*">
        </div>

        <div class="form-group">
          <label>作業説明</label>
          <input type="text" name="maintenance[work_descriptions][]" class="form-control">
        </div>

        <div class="input_fields"></div>

        <button type="button" class="add_field_button btn btn-primary">作業画像・説明を追加</button>

        <div class="form-group mt-3">
          <%= f.label :related_information, "関連URL" %>
          <%= f.text_field :related_information, class: "form-control" %>
        </div>

        <button type="submit" class="btn btn-primary">更新</button>
        <%= link_to "戻る", maintenances_path, class: "btn btn-secondary" %>

      <% end %>
    </div>
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const addButton = document.querySelector('.add_field_button');
  const inputFieldsWrap = document.querySelector('.input_fields');
  const maxFields = 10;

  let x = 1;

  addButton.addEventListener('click', function(e) {
    e.preventDefault();
    if (x < maxFields) {
      x++;

      const newField = document.createElement('div');
      newField.classList.add("added-field");

      newField.innerHTML = `
        <div class="form-group">
          <label>作業画像</label>
          <input type="file" name="maintenance[images][]" class="form-control-file" accept="image/*">
        </div>
        <div class="form-group">
          <label>作業説明</label>
          <input type="text" name="maintenance[work_descriptions][]" class="form-control">
        </div>
        <button type="button" class="btn btn-danger btn-sm remove_field_button">削除</button>
        <hr>
      `;

      inputFieldsWrap.appendChild(newField);

      newField.querySelector('.remove_field_button').addEventListener('click', function () {
        newField.remove();
        x--;
      });
    }
  });
});
</script>
