<p id="notice"><%= notice %></p>

<% if flash[:alert].present? %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Maintenance List</h1>
      <%= render 'public/searches/form', maintenances: @maintenances %> 
      <h2>
        <%= link_to '新規投稿', href="/maintenances/new", class: 'btn btn-primary' %>
        <%= link_to '所有車登録', href="/cars/new", class: 'btn btn-secondary' %>
        <%= link_to 'お気に入り一覧', href="/favorites", class: 'btn btn-danger' %>
      </h2>
      <table class="table table-honer table-inverse">
        <thead>
          <tr>
            <th>車種</th>
            <th>タイトル</th>
            <th>作業日</th>
            <th>作業内容</th>
            <th>作業難易度</th>
          </tr>
        </thead>
        <tbody>
          <% if @maintenances.present? %>
            <% @maintenances.each do |maintenance| %>
              <tr class="<%= 'gray-post' if maintenance.draft? %>">
                <td><%= maintenance.car.car_name %></td>
                <td>
                  <% if maintenance.draft? %>
                    <span class="private-label"><非公開></span>
                  <% end %>
                  <%= maintenance.title %>
                </td>
                <td><%= maintenance.maintenance_day %></td>
                <td><%= maintenance.maintenance %></td>
                <td><%= maintenance.work_difficulty %></td>
                <td><%= render "public/favorites/btn", maintenance: maintenance %></td>
                <td><%= link_to '詳細', maintenance_path(maintenance), class: 'btn btn-info' %></td>
                <td><%= link_to '編集', edit_maintenance_path(maintenance), class: 'btn btn-success' %></td>
                <td><%= link_to 'ユーザー', user_path(maintenance.user_id), class: 'btn btn-primary' %></td>
                <td>コメント数: <%= maintenance.maintenance_comments.count %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>