<p id="notice"><%= notice %></p>

<% if flash[:alert].present? %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Maintenance List</h1>
      <%= render 'public/searches/form', maintenances: @maintenances %> 
      <h2>
        <%= link_to '新規投稿', href="/maintenances/new", class: 'btn btn-primary' %>
        <%= link_to '所有車登録', href="/cars/new", class: 'btn btn-secondary' %>
        <%= link_to 'お気に入り一覧', href="/favorites", class: 'btn btn-danger' %>
      </h2>
      <%= render 'public/maintenances/index', maintenances: @maintenances %>
    </div>
  </div>
</div>