<p id="notice"><%= notice %></p>

<div id="error_message" style=color: "red"></div>
  <% if @maintenance.errors.any? %>
    <h2>An error has occurred:</h2>
      <ul>
        <% @maintenance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>New Maintenance</h1>
      <%= form_for(@maintenance) do |f| %>
        <div class="form-group">
          <%= f.label :car_id, "車両を選択" %>
          <%= f.collection_select :car_id, current_user.cars, :id, :car_model, { prompt: "車両を選択してください" }, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :作業日 %>
          <%= f.date_field :maintenance_day, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :作業内容 %>
          <%= f.select :maintenance, ['', '日常点検', '法定点検', 'チューニング', '洗車', 'メンテナンス'], {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :作業難易度 %>
          <%= f.select :work_difficulty, ['', '簡単', '普通', '難しい'], {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tool_images, '使用工具画像' %>
          <%= f.file_field :tool_images, class: "form-control-file", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :作業時間 %>
          <%= f.text_field :work_time, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :作業料金 %>
          <%= f.text_field :work_pay, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :images, '作業画像' %>
          <%= f.file_field :images, class: "form-control-file", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :作業説明 %>
          <%= f.text_field :work_description, class: "form-control" %>
        </div>
        <div class="input_fields"></div>
        <div class="add_field_button btn btn-primary">作業画像・説明を追加</div>
        <div class="form-group">
          <%= f.label :関連URL %>
          <%= f.text_field :related_information, class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-primary">作成</button>
      <% end %>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var addButton = document.querySelector('.add_field_button');
    var inputFieldsWrap = document.querySelector('.input_fields');
    var maxFields = 10; // 最大追加フォーム数

    var x = 1;

    addButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (x < maxFields) {
        x++;
        var newField = document.createElement('div');
        
        newField.innerHTML = `
        <%= form_for(@maintenance) do |f| %>
          <div class="form-group">
            <%= f.label :images, '作業画像' %>
            <%= f.file_field :images, class: "form-control-file", accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :作業説明 %>
            <%= f.text_field :work_description, class: "form-control" %>
          </div>
        <% end %>
        `;
        
        inputFieldsWrap.appendChild(newField);
      }
    });
  });
</script>