<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User</h1>
      <h2>
        <%= link_to '新規投稿', new_maintenance_path, class: 'btn btn-primary' %>
        <%= link_to '燃費情報登録', href="/fuel_efficiencies/new", class: 'btn btn-primary' %>
        <%= link_to '所有車登録', new_car_path, class: 'btn btn-secondary' %>
        <%= link_to 'お気に入り一覧', href="/favorites", class: 'btn btn-danger' %>
      </h2>
      <table class="table table-striped">
        <thead>
          <tr> 
            <th>image</th>
            <th>ユーザー名</th>
            <th>自己紹介</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-25">
              <%= image_tag @user.get_profile_image, class:"img-fluid", alt:"User Image" %>
            </td>
            <td><%= @user.name %></td>
            <td><%= @user.introduction %></td>
        </tbody>
      </table>
        <%= link_to '燃費情報', fuel_efficiencies_path, class: 'btn btn-primary' %>
        <%= link_to '投稿一覧', maintenances_path(user_id: @user.id), class: 'btn btn-secondary' %>
        <% unless @user.guest_user? %>
          <%= link_to 'ユーザー編集', edit_user_path(@user), class: "btn btn-success" %>
        <% end %>
      <h1>Cars</h1>
      <%= render 'public/cars/index', cars: @cars %>
    </div>
  </div>
</div>
