<!DOCTYPE html>
<html>
  <head>
    <title>CMLogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/24600f808d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Car Maintenance Logs</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Togle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapes navbar-collapese" id="navbarnavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <a class="nav-link text-light" href="/users/<%= currrent_user.id %>">
                    <i class="fa-solid fa-user"></i>
                    User
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users">
                    <i class="fa-solid fa-users"></i>
                    Users
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/maintenances">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    Maintenance
                  </a>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                    <i class="fa-solid fa-sign-out-alt"></i>
                    Log out
                  <% end %>
                </li>
              <% else %>
                <li>
                  <a class="nav-link text-light" href="/">
                    <i class="fa-solid fa-home"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users/sign_up">
                    <i class="fa-solid fa-user-plus"></i>
                    Sign up
                  </a>
                </li>
                <li>
                  <a class="nav-link text-light" href="/users/sign_in">
                    <i class="fa-solid fa-sign-in-alt"></i>
                    Log in
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
